.bi-o-logo {
    $block:&;
    color:getColor(secondary);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:getSize($small);
    @include bi-ps-bold;
    @include font-size($fontSizeJumpDT1, $lineHeightDT);

    &:hover {
        text-decoration:none;
    }

    .icon {
        height: getSize($huge);
        width: getSize($huge);
    }
}

.bi-o-logo--centered {
    @extend .bi-o-logo;
    justify-content: center;
}