.bi-o-icon-button{
    $block:&;
    
    &--primary {
        @include icon-button-big;
        @include icon-button-primary;

        &.active {
            @include icon-button-pressed;
        }

        &.active--secondary {
            @include icon-button-pressed--secondary;
        }
    }

    &--secondary {
        @include icon-button-big;
        @include icon-button-secondary;
    }

    &--pressed {
        @include icon-button-big;
        @include icon-button-pressed;
    }

    &--success {
        @include icon-button-big;
        @include icon-button-success;
    }

    &--error {
        @include icon-button-big;
        @include icon-button-error;
    }

}

.bi-o-icon-button-small {
    $block:&;
    

    &--primary {
        @include icon-button-small;
        @include icon-button-primary;
    }

    &--secondary {
        @include icon-button-small;
        @include icon-button-secondary;
    }

    &--pressed {
        @include icon-button-small;
        @include icon-button-pressed;
    }

    &--success {
        @include icon-button-small;
        @include icon-button-success;
    }

    &--warning {
        @include icon-button-small;
        @include icon-button-warning;
    }

    &--error {
        @include icon-button-small;
        @include icon-button-error;
    }

    &--disabled {
        @include icon-button-small;
        @include icon-button-disabled;
    }
}

.cm-o-icon-button-enormous {
    $block:&;    
    &--deco {
        @include icon-button-enormous;
        @include icon-button-deco;
    }
}