.cm-o-notification-bubble {
    background-color: getColor(secondary);
    border:1px solid getColor(white);
    border-radius:99px;
    color: getColor(white) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: getSize($big);
    height: getSize($bigger);
    padding: 0 getSize($tiny);
    position: absolute;
    top:0;
    right: getSize($tiny) * -1;
    @extend .bi-u-text-base-black;
}