@mixin font-size($sizeValue, $lineHeight){
	$remValue: calc($sizeValue / 10);
	$pxValue: $sizeValue;
	$linePxValue: $lineHeight;
	$lineRemValue: calc($linePxValue / 10);
	font-size: $pxValue * 1px; 
	font-size: $remValue * 1rem;
	line-height: $linePxValue * 1px; 
	line-height: $lineRemValue * 1rem;  
}

@mixin font-styles {
    font-stretch: normal;  
    -webkit-font-smoothing: antialiased;  
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-weight-normal {
    font-weight: $ps-regular; 
}

@mixin font-weight-medium {
    font-weight: $ps-medium; 
}

@mixin font-weight-bold {
    font-weight: $ps-bold;
}

@mixin bi-dm-normal {
    font-family: $dmSerifDisplay;
    @include font-weight-normal;
    @include font-styles;
}


@mixin bi-ps-normal {
    font-family: $plexSans;
    @include font-weight-normal;
    @include font-styles;
}

@mixin bi-ps-medium {
    font-family: $plexSans;
    @include font-weight-medium;
    @include font-styles;
}

@mixin bi-psc-medium {
    font-family: $plexSansCond;
    @include font-weight-medium;
    @include font-styles;
}

@mixin bi-ps-bold {
    font-family: $plexSans;
    @include font-weight-bold;
    @include font-styles;
}