.bi-u-spacer {
    $block:&;
    // margin top
    &-mt-base { margin-top:getSize($base); }
    &-mt-tiny { margin-top: getSize($tiny);}
    &-mt-small{ margin-top: getSize($small);}
    &-mt-medium{ margin-top: getSize($medium);}
    &-mt-big{ margin-top: getSize($big);}
    &-mt-bigger{ margin-top: getSize($bigger);}
    &-mt-large{ margin-top: getSize($large);}
    &-mt-huge{ margin-top: getSize($huge);}
    &-mt-enormous{ margin-top: getSize($enormous);}
    &-mt-gigantic{ margin-top: getSize($gigantic);}
    // margin bottom
    &-mb-base { margin-bottom:getSize($base); }
    &-mb-tiny { margin-bottom: getSize($tiny);}
    &-mb-small{ margin-bottom: getSize($small);}
    &-mb-medium{ margin-bottom: getSize($medium);}
    &-mb-big{ margin-bottom: getSize($big);}
    &-mb-bigger{ margin-bottom: getSize($bigger);}
    &-mb-large{ margin-bottom: getSize($large);}
    &-mb-huge{ margin-bottom: getSize($huge);}
    &-mb-enormous{ margin-bottom: getSize($enormous);}
    &-mb-gigantic{ margin-bottom: getSize($gigantic);}
    // margin auto
    &-m-auto{margin:auto};
    &-mlr-auto{margin:0 auto};
    // padding top
    &-pt-bigger{ padding-top: getSize($bigger);}
    &-pt-large{ padding-top: getSize($large);}
    &-pt-huge{ padding-top: getSize($huge);}
    &-pt-enormous{ padding-top: getSize($enormous);}
    //padding bottom
    &-pb-bigger{ padding-bottom: getSize($bigger);}
    &-pb-large{ padding-bottom: getSize($large);}
    &-pb-huge{ padding-bottom: getSize($huge);}
    &-pb-enormous{ padding-bottom: getSize($enormous);}
}