.bi-u-h-screen {
    height: 100vh;
}

.bi-u-h-screen--wSubNav {
    height: calc(100vh - 130px);
    margin-top:130px;

    @media screen and (min-width: getBreakpoint(medium)){
        height: calc(100vh - 170px);
        margin-top:170px;
    }
}