.bi-u-border {
  $block:&;
  // border top
  &-bt-gm { border-top: 1px solid getColor(gray-medium); }
  // border bottom
  &-bb-gm { border-bottom: 1px solid getColor(gray-medium); }
}

.bi-u-white-border {
  border: 1px solid getColor(white);
}