// font-family
$plexSans: 'IBM Plex Sans', sans-serif;
$plexSansCond: 'IBM Plex Sans Condensed', sans-serif;
$dmSerifDisplay: 'DM Serif Display', serif;

// weights
$ps-regular: 400;
$ps-medium: 500;
$ps-bold: 700;

//base size for desktop without unit
$defFontSizeDT:14;
//base size for mobile without unit
$defFontSizeMB:18;

//scaling factors desktop
$factorLineHeightDT:1.715;
$factorScaleDT:1.333;

//scaling factors mobile 
$factorLineHeightMB:1.36;
$factorScaleMB:1.333;

//Base line height calculation
$lineHeightDT: floor($defFontSizeDT * $factorLineHeightDT); //24
$lineHeightMB: floor($defFontSizeMB * $factorLineHeightMB); //24

//scaling jumps
$fontSizeJumpDT1: ceil($defFontSizeDT * $factorScaleDT); //19
$fontSizeJumpDT2: floor($fontSizeJumpDT1 * $factorScaleDT); //25
$fontSizeJumpDT3: floor($fontSizeJumpDT2 * $factorScaleDT); //33
$fontSizeJumpDT4: floor($fontSizeJumpDT3 * $factorScaleDT); //44

$fontSizeJumpMB1: ceil($defFontSizeMB * $factorScaleMB); //24
$fontSizeJumpMB2: ceil($fontSizeJumpMB1 * $factorScaleMB); //32
$fontSizeJumpMB3: floor($fontSizeJumpMB2 * $factorScaleMB); //42
$fontSizeJumpMB4: ceil($fontSizeJumpMB3 * $factorScaleMB); //56

//other special sizes
$mouseFontSizeDT:14;
$mouseFontSizeMB:14;
