$colorPalette: (
    white:#FFFFFF,
    primary: #0081FF,
    secondary: #434656,
    gray-dark: #727272,
    gray-medium:#CECECE,
    gray-light:#F4F4F4,
    success:#0FCC81,
    warning:#FECD39,
    danger:#F93A3A,
    scarpaHover: fade-out(#434656,0.95),
    modalBg: fade-out(#434656,0.15)
);