.bi-l-form {
    $block: &;

    &-simple {
        $block: &;
        display: flex;
        flex-flow: column nowrap;

        &__row {
            display: flex;
            flex-flow: column nowrap;
            margin-bottom: getSize($big);
            width: 100%;

            @media screen and (min-width: getBreakpoint(tiny)){
                margin-bottom: 0;
            }

            label {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                @media screen and (min-width: getBreakpoint(tiny)){
                    gap:getSize($small);
                }
            }
        }

        &--hrz { 
            #{$block}__row {
                flex-flow: nowrap;
            }  

            label {
                display: flex;
                align-items: center;
                flex-direction: row;
                flex-wrap:wrap;

                span {
                    display: flex;
                    justify-content: flex-start;
                    text-align: left;
                    width: getCols(1.5);
                }

                span:empty {
                    width: 0;
                }

                span.error {
                    flex-basis:100%;
                }

                input {
                    flex-grow: 1;
                }
            }

            #{$block}__row.items-2 {
                label {
                    flex-grow: 0;
                }

                label + label {
                    flex-grow:0;
                    span {
                        min-width:getCols(1);
                    }
                }
            }

            
        }
    }

    &-panel {
        $block: &;

        &__row {
            display: flex;
            flex-flow: row wrap;
            padding:getSize($small) 0;
            gap:getSize($small);

            span.error {
                color: getColor(danger);
                @include bi-ps-bold;
            }

            .panel-field-long {
                display:flex;
                flex-direction:row;
                flex-wrap: wrap;
                align-items: center;
                gap:8px;
                width:getCols(12);

                span:not(.material-symbols-outlined) {
                    text-align: right;
                    width:getCols(2);
                }

                input[type=text], input[type=email], input[type=password], input[type=date], .cm-c-field-icon, .cm-c-select-icon {
                    width:getCols(5);
                    max-width:getCols(5);
                }

                span.assistance, span.error  {
                    flex-grow:1;
                    text-align: left;
                    @extend .bi-u-text-base;
                }

                span.pictureInputName {
                    display: flex;
                    align-self: center;
                    padding-left: getSize($big);
                    text-align: left;
                    width: 100%;
                }
            }

            .panel-field-short {
                $block: &;
                display: flex;
                flex-direction:row;
                flex-grow: 1;
                flex-wrap: wrap;
                align-items: center;
                gap:getSize($small);
                margin-bottom:getSize($small);

                span:not(.material-symbols-outlined) {
                    text-align: right;
                    width:getCols(2);
                    
                }

                input[type=text], input[type=email], input[type=password], input[type=date], .cm-c-field-icon, .cm-c-select-icon {
                    flex-grow: 1;
                    max-width:getCols(3);
                }

                span.assistance, span.error {
                    margin-left:getCols(2)+getSize($small);
                    text-align: left;
                    width:getCols(4);
                    @extend .bi-u-text-base;
                }

                &__container {
                    $block: &;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}