.cm-l-headtool {
    $block:&;
    display: flex;
    flex-flow: row nowrap;

    &__title {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
    &__toolbar {
        display: flex;
        flex-flow:row nowrap;
        flex-grow: 0;
        gap: getSize($small);
    }
}