@charset "UTF-8";
/** Core **/
/** Base **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,500;1,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%; /*Transform to base 10 for easier REM calculations*/
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #434656;
}

.bi-u-text-base, .bi-l-table-players__body tr, .bi-l-tabledata__row, .bi-l-tabledata__footer, .bi-l-form-panel__row .panel-field-short span.assistance, .bi-l-form-panel__row .panel-field-short span.error, .bi-l-form-panel__row .panel-field-long span.assistance, .bi-l-form-panel__row .panel-field-long span.error, .bi-u-text-base-black, .bi-c-navbar-links__textbutt, .bi-o-sortButton, .cm-o-notification-bubble, .cm-o-icon-button-enormous--deco, .bi-o-icon-button--error, .bi-o-icon-button--success, .bi-o-icon-button--pressed, .bi-o-icon-button--secondary, .bi-o-icon-button--primary, .bi-o-button-medium--inactive, .bi-o-button-medium--ghost, .bi-o-button-medium--transparent, .bi-o-button-medium--secondary, .bi-o-button-medium--primary, .bi-o-button-large--inactive, .bi-o-button-large--ghost-inactive, .bi-o-button-large--ghost, .bi-o-button-large--transparent, .bi-o-button-large--secondary, .bi-o-button-large--primary, .bi-l-table-players__header tr, .bi-l-tabledata__row--noRead, .bi-l-tabledata__header, .bi-u-text-base-links {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
}

.bi-u-text-base-links {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-u-text-base-black, .bi-c-navbar-links__textbutt, .bi-o-sortButton, .cm-o-notification-bubble, .cm-o-icon-button-enormous--deco, .bi-o-icon-button--error, .bi-o-icon-button--success, .bi-o-icon-button--pressed, .bi-o-icon-button--secondary, .bi-o-icon-button--primary, .bi-o-button-medium--inactive, .bi-o-button-medium--ghost, .bi-o-button-medium--transparent, .bi-o-button-medium--secondary, .bi-o-button-medium--primary, .bi-o-button-large--inactive, .bi-o-button-large--ghost-inactive, .bi-o-button-large--ghost, .bi-o-button-large--transparent, .bi-o-button-large--secondary, .bi-o-button-large--primary, .bi-l-table-players__header tr, .bi-l-tabledata__row--noRead, .bi-l-tabledata__header {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-u-text-headS {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-u-text-headM {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 48px;
  line-height: 4.8rem;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-u-text-headL {
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 48px;
  line-height: 4.8rem;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-u-text-headXL {
  font-size: 56px;
  font-size: 5.6rem;
  line-height: 72px;
  line-height: 7.2rem;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-u-text-link, a {
  color: #0081FF;
  text-decoration: none;
}
.bi-u-text-link:hover, a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.bi-u-text-link__active {
  color: #0081FF;
}
.bi-u-text-link__inactive {
  color: #CECECE;
}
.bi-u-text-link__inactive:hover {
  cursor: auto;
  text-decoration: none;
}

.bi-u-gray-text {
  color: #727272;
}

.bi-u-success-text {
  color: #0FCC81;
}

.bi-u-danger-text {
  color: #F93A3A;
}

.bi-u-warning-text {
  color: #FECD39;
}

strong {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h2 {
  margin-bottom: 24px;
}

h1 {
  margin-bottom: 48px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #434656;
  }
  .bi-u-text-base, .bi-l-table-players__body tr, .bi-l-tabledata__row, .bi-l-tabledata__footer, .bi-l-form-panel__row .panel-field-short span.assistance, .bi-l-form-panel__row .panel-field-short span.error, .bi-l-form-panel__row .panel-field-long span.assistance, .bi-l-form-panel__row .panel-field-long span.error, .bi-u-text-base-links, .bi-u-text-base-black, .bi-c-navbar-links__textbutt, .bi-o-sortButton, .cm-o-notification-bubble, .cm-o-icon-button-enormous--deco, .bi-o-icon-button--error, .bi-o-icon-button--success, .bi-o-icon-button--pressed, .bi-o-icon-button--secondary, .bi-o-icon-button--primary, .bi-o-button-medium--inactive, .bi-o-button-medium--ghost, .bi-o-button-medium--transparent, .bi-o-button-medium--secondary, .bi-o-button-medium--primary, .bi-o-button-large--inactive, .bi-o-button-large--ghost-inactive, .bi-o-button-large--ghost, .bi-o-button-large--transparent, .bi-o-button-large--secondary, .bi-o-button-large--primary, .bi-l-table-players__header tr, .bi-l-tabledata__row--noRead, .bi-l-tabledata__header {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .bi-u-text-base-links {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bi-u-text-base-black, .bi-c-navbar-links__textbutt, .bi-o-sortButton, .cm-o-notification-bubble, .cm-o-icon-button-enormous--deco, .bi-o-icon-button--error, .bi-o-icon-button--success, .bi-o-icon-button--pressed, .bi-o-icon-button--secondary, .bi-o-icon-button--primary, .bi-o-button-medium--inactive, .bi-o-button-medium--ghost, .bi-o-button-medium--transparent, .bi-o-button-medium--secondary, .bi-o-button-medium--primary, .bi-o-button-large--inactive, .bi-o-button-large--ghost-inactive, .bi-o-button-large--ghost, .bi-o-button-large--transparent, .bi-o-button-large--secondary, .bi-o-button-large--primary, .bi-l-table-players__header tr, .bi-l-tabledata__row--noRead, .bi-l-tabledata__header {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bi-u-text-headS {
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 24px;
    line-height: 2.4rem;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bi-u-text-headM {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 48px;
    line-height: 4.8rem;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bi-u-text-headL {
    font-size: 33px;
    font-size: 3.3rem;
    line-height: 48px;
    line-height: 4.8rem;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .bi-u-text-headXL {
    font-size: 43px;
    font-size: 4.3rem;
    line-height: 48px;
    line-height: 4.8rem;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  p, h2 {
    margin-bottom: 24px;
  }
  h1 {
    margin-bottom: 48px;
    margin-top: 24px;
  }
}
/** Layout **/
.bi-l-container {
  max-width: 100%;
  position: relative;
}
.bi-l-container--no-padding {
  padding: 0;
}
.bi-l-container--big-padding {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .bi-l-container--big-padding {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.bi-l-container--big-top-padding {
  padding-top: 48px;
}
@media screen and (min-width: 768px) {
  .bi-l-container--big-top-padding {
    padding-top: 120px;
  }
}
.bi-l-container--big-bottom-padding {
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .bi-l-container--big-bottom-padding {
    padding-bottom: 120px;
  }
}
.bi-l-container-cols {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .bi-l-container-cols {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }
}

.bi-l-section {
  padding: 0 32px;
}
.bi-l-section--table-head {
  display: flex;
  align-items: center;
}
.bi-l-section--table-head .bi-u-text-headM, .bi-l-section--table-head .bi-u-text-headS, .bi-l-section--table-head .bi-u-text-headL {
  flex-grow: 1;
  padding: 0 16px;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .bi-l-section--table-head .bi-u-text-headM, .bi-l-section--table-head .bi-u-text-headS, .bi-l-section--table-head .bi-u-text-headL {
    padding: 0 32px;
  }
}
.bi-l-section--table-head .bi-u-text-headM + .bi-u-text-headS {
  padding-bottom: 12px;
  padding-top: 12px;
}
.bi-l-section--table-head .bi-c-form-simple {
  padding: 0 32px;
}
@media screen and (min-width: 768px) {
  .bi-l-section--table-head {
    padding-top: 24px;
  }
}

.bi-l-col {
  border-right: 1px solid #CECECE;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 16px;
}
.bi-l-col:last-child {
  border: 0;
}
@media screen and (min-width: 768px) {
  .bi-l-col {
    padding: 0 32px;
  }
}

.bi-l-4col {
  margin: 0 auto;
  width: 352px;
}

.bi-l-6col {
  margin: 0 auto;
  width: 544px;
}

.bi-l-header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.bi-l-header__main-bar {
  border-bottom: 1px solid #CECECE;
  padding: 24px 0;
}
.bi-l-header__sec-bar {
  border-bottom: 1px solid #CECECE;
  padding: 8px 0;
}
@media screen and (min-width: 768px) {
  .bi-l-header__sec-bar {
    padding: 24px 0;
  }
}

.bi-l-footer {
  border-top: 1px solid #CECECE;
  padding-top: 24px;
  padding-bottom: 24px;
}

.bi-l-body-static-header {
  border-bottom: 1px solid #CECECE;
  display: flex;
  align-items: center;
  height: 48px;
  color: #434656;
}

.bi-l-form-simple {
  display: flex;
  flex-flow: column nowrap;
}
.bi-l-form-simple__row {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 16px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .bi-l-form-simple__row {
    margin-bottom: 0;
  }
}
.bi-l-form-simple__row label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media screen and (min-width: 375px) {
  .bi-l-form-simple__row label {
    gap: 8px;
  }
}
.bi-l-form-simple--hrz .bi-l-form-simple__row {
  flex-flow: nowrap;
}
.bi-l-form-simple--hrz label {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.bi-l-form-simple--hrz label span {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 112px;
}
.bi-l-form-simple--hrz label span:empty {
  width: 0;
}
.bi-l-form-simple--hrz label span.error {
  flex-basis: 100%;
}
.bi-l-form-simple--hrz label input {
  flex-grow: 1;
}
.bi-l-form-simple--hrz .bi-l-form-simple__row.items-2 label {
  flex-grow: 0;
}
.bi-l-form-simple--hrz .bi-l-form-simple__row.items-2 label + label {
  flex-grow: 0;
}
.bi-l-form-simple--hrz .bi-l-form-simple__row.items-2 label + label span {
  min-width: 64px;
}
.bi-l-form-panel__row {
  display: flex;
  flex-flow: row wrap;
  padding: 8px 0;
  gap: 8px;
}
.bi-l-form-panel__row span.error {
  color: #F93A3A;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-l-form-panel__row .panel-field-long {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  width: 1120px;
}
.bi-l-form-panel__row .panel-field-long span:not(.material-symbols-outlined) {
  text-align: right;
  width: 160px;
}
.bi-l-form-panel__row .panel-field-long input[type=text], .bi-l-form-panel__row .panel-field-long input[type=email], .bi-l-form-panel__row .panel-field-long input[type=password], .bi-l-form-panel__row .panel-field-long input[type=date], .bi-l-form-panel__row .panel-field-long .cm-c-field-icon, .bi-l-form-panel__row .panel-field-long .cm-c-select-icon {
  width: 448px;
  max-width: 448px;
}
.bi-l-form-panel__row .panel-field-long span.assistance, .bi-l-form-panel__row .panel-field-long span.error {
  flex-grow: 1;
  text-align: left;
}
.bi-l-form-panel__row .panel-field-long span.pictureInputName {
  display: flex;
  align-self: center;
  padding-left: 16px;
  text-align: left;
  width: 100%;
}
.bi-l-form-panel__row .panel-field-short {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.bi-l-form-panel__row .panel-field-short span:not(.material-symbols-outlined) {
  text-align: right;
  width: 160px;
}
.bi-l-form-panel__row .panel-field-short input[type=text], .bi-l-form-panel__row .panel-field-short input[type=email], .bi-l-form-panel__row .panel-field-short input[type=password], .bi-l-form-panel__row .panel-field-short input[type=date], .bi-l-form-panel__row .panel-field-short .cm-c-field-icon, .bi-l-form-panel__row .panel-field-short .cm-c-select-icon {
  flex-grow: 1;
  max-width: 256px;
}
.bi-l-form-panel__row .panel-field-short span.assistance, .bi-l-form-panel__row .panel-field-short span.error {
  margin-left: 168px;
  text-align: left;
  width: 352px;
}
.bi-l-form-panel__row .panel-field-short__container {
  display: flex;
  flex-direction: column;
}

.cm-l-headtool {
  display: flex;
  flex-flow: row nowrap;
}
.cm-l-headtool__title {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.cm-l-headtool__toolbar {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  gap: 8px;
}

.bi-l-tabledata {
  display: flex;
  flex-direction: column;
}
.bi-l-tabledata__row, .bi-l-tabledata__header, .bi-l-tabledata__footer {
  display: flex;
  gap: 8px;
}
.bi-l-tabledata__row, .bi-l-tabledata__header {
  border-bottom: 1px solid #CECECE;
  padding: 16px 32px;
}
.bi-l-tabledata__row {
  flex-direction: column;
  flex-grow: 1;
}
.bi-l-tabledata__row:last-child {
  border-bottom: 0;
}
.bi-l-tabledata__row--noRead {
  background-color: #F4F4F4;
}
.bi-l-tabledata .tablerow-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 8px;
}
.bi-l-tabledata .tablecell-long, .bi-l-tabledata .tablecell-medium, .bi-l-tabledata .tablecell-short {
  display: flex;
  align-items: center;
}
.bi-l-tabledata .tablecell-long a, .bi-l-tabledata .tablecell-medium a, .bi-l-tabledata .tablecell-short a {
  display: flex;
  align-items: center;
}
.bi-l-tabledata .tablecell-long {
  flex: 2;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.bi-l-tabledata .tablecell-medium {
  flex: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.bi-l-tabledata .tablecell-short {
  flex: 0;
  max-width: 60px;
  min-width: 60px;
}

.bi-l-table-players {
  display: flex;
  flex-direction: column;
}
.bi-l-table-players__header tr, .bi-l-table-players__body tr {
  border-bottom: 1px solid _error("scarpaFlowLight does not exist in getColor");
  display: flex;
  flex: 1;
}
.bi-l-table-players__header tr .table-players-td-long, .bi-l-table-players__body tr .table-players-td-long {
  flex: 1;
}
.bi-l-table-players__header tr .table-players-td-short, .bi-l-table-players__body tr .table-players-td-short {
  width: 60px;
}
.bi-l-table-players__header tr .table-players-td-auto, .bi-l-table-players__body tr .table-players-td-auto {
  flex-grow: 0;
}
.bi-l-table-players__header tr {
  align-items: end;
}
.bi-l-table-players__body tr {
  align-items: center;
  height: 48px;
}

/** Objects **/
.bi-o-button-large--primary {
  padding: 12px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #0081FF;
}
.bi-o-button-large--primary:hover {
  text-decoration: none;
}
.bi-o-button-large--secondary {
  padding: 12px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #434656;
}
.bi-o-button-large--secondary:hover {
  text-decoration: none;
}
.bi-o-button-large--transparent {
  padding: 12px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #0081FF;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-button-large--transparent:hover {
  text-decoration: none;
}
.bi-o-button-large--ghost {
  padding: 12px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #434656;
  background: transparent;
}
.bi-o-button-large--ghost:hover {
  text-decoration: none;
}
.bi-o-button-large--ghost.active {
  color: #FFFFFF;
  background-color: #0081FF;
}
.bi-o-button-large--ghost-inactive {
  padding: 12px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #CECECE;
  background: transparent;
  cursor: default;
}
.bi-o-button-large--ghost-inactive:hover {
  text-decoration: none;
}
.bi-o-button-large--inactive {
  padding: 12px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #F4F4F4;
}
.bi-o-button-large--inactive:hover {
  text-decoration: none;
}

.bi-o-button-medium--primary {
  color: #FFFFFF;
  background-color: #0081FF;
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.bi-o-button-medium--primary:hover {
  text-decoration: none;
}
.bi-o-button-medium--secondary {
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #434656;
}
.bi-o-button-medium--secondary:hover {
  text-decoration: none;
}
.bi-o-button-medium--transparent {
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #0081FF;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-button-medium--transparent:hover {
  text-decoration: none;
}
.bi-o-button-medium--ghost {
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #434656;
  background: transparent;
}
.bi-o-button-medium--ghost:hover {
  text-decoration: none;
}
.bi-o-button-medium--inactive {
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #F4F4F4;
}
.bi-o-button-medium--inactive:hover {
  text-decoration: none;
}

.bi-o-button-small--primary {
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #0081FF;
}
.bi-o-button-small--primary:hover {
  text-decoration: none;
}
.bi-o-button-small--secondary {
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #434656;
}
.bi-o-button-small--secondary:hover {
  text-decoration: none;
}
.bi-o-button-small--transparent {
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #0081FF;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-button-small--transparent:hover {
  text-decoration: none;
}
.bi-o-button-small--ghost {
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #434656;
  background: transparent;
}
.bi-o-button-small--ghost:hover {
  text-decoration: none;
}
.bi-o-button-small--inactive {
  padding: 4px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #F4F4F4;
}
.bi-o-button-small--inactive:hover {
  text-decoration: none;
}

.bi-o-button--short {
  min-width: 160px;
  max-width: 35%;
}

.bi-o-icon-button--primary {
  width: 48px;
  height: 48px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-icon-button--primary span:not(.cm-o-notification-bubble) {
  font-size: 24px;
}
.bi-o-icon-button--primary svg {
  color: #0081FF;
}
.bi-o-icon-button--primary:hover {
  background-color: #F4F4F4;
}
.bi-o-icon-button--primary.active {
  background-color: #0081FF;
  box-shadow: none;
}
.bi-o-icon-button--primary.active span {
  color: #FFFFFF;
}
.bi-o-icon-button--primary.active--secondary {
  background-color: #434656;
  box-shadow: none;
}
.bi-o-icon-button--primary.active--secondary span {
  color: #FFFFFF;
}
.bi-o-icon-button--secondary {
  width: 48px;
  height: 48px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-icon-button--secondary span:not(.cm-o-notification-bubble) {
  font-size: 24px;
}
.bi-o-icon-button--secondary svg {
  color: #434656;
}
.bi-o-icon-button--secondary:hover {
  background-color: #F4F4F4;
}
.bi-o-icon-button--pressed {
  width: 48px;
  height: 48px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #0081FF;
  box-shadow: none;
}
.bi-o-icon-button--pressed span:not(.cm-o-notification-bubble) {
  font-size: 24px;
}
.bi-o-icon-button--pressed span {
  color: #FFFFFF;
}
.bi-o-icon-button--success {
  width: 48px;
  height: 48px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-icon-button--success span:not(.cm-o-notification-bubble) {
  font-size: 24px;
}
.bi-o-icon-button--success svg {
  color: #0FCC81;
}
.bi-o-icon-button--success:hover {
  background-color: #F4F4F4;
}
.bi-o-icon-button--error {
  width: 48px;
  height: 48px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-icon-button--error span:not(.cm-o-notification-bubble) {
  font-size: 24px;
}
.bi-o-icon-button--error svg {
  color: #F93A3A;
}
.bi-o-icon-button--error:hover {
  background-color: #F4F4F4;
}

.bi-o-icon-button-small--primary {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-icon-button-small--primary svg {
  width: 24px;
  height: 24px;
}
.bi-o-icon-button-small--primary svg {
  color: #0081FF;
}
.bi-o-icon-button-small--primary:hover {
  background-color: #F4F4F4;
}
.bi-o-icon-button-small--secondary {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-icon-button-small--secondary svg {
  width: 24px;
  height: 24px;
}
.bi-o-icon-button-small--secondary svg {
  color: #434656;
}
.bi-o-icon-button-small--secondary:hover {
  background-color: #F4F4F4;
}
.bi-o-icon-button-small--pressed {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #0081FF;
  box-shadow: none;
}
.bi-o-icon-button-small--pressed svg {
  width: 24px;
  height: 24px;
}
.bi-o-icon-button-small--pressed span {
  color: #FFFFFF;
}
.bi-o-icon-button-small--success {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-icon-button-small--success svg {
  width: 24px;
  height: 24px;
}
.bi-o-icon-button-small--success svg {
  color: #0FCC81;
}
.bi-o-icon-button-small--success:hover {
  background-color: #F4F4F4;
}
.bi-o-icon-button-small--warning {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-icon-button-small--warning svg {
  width: 24px;
  height: 24px;
}
.bi-o-icon-button-small--warning svg {
  color: #FECD39;
}
.bi-o-icon-button-small--warning:hover {
  background-color: #F4F4F4;
}
.bi-o-icon-button-small--error {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
}
.bi-o-icon-button-small--error svg {
  width: 24px;
  height: 24px;
}
.bi-o-icon-button-small--error svg {
  color: #F93A3A;
}
.bi-o-icon-button-small--error:hover {
  background-color: #F4F4F4;
}
.bi-o-icon-button-small--disabled {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #F4F4F4 inset;
  cursor: initial;
}
.bi-o-icon-button-small--disabled svg {
  width: 24px;
  height: 24px;
}
.bi-o-icon-button-small--disabled svg {
  color: #CECECE;
}
.bi-o-icon-button-small--disabled:hover {
  background-color: #FFFFFF;
}

.cm-o-icon-button-enormous--deco {
  min-width: 72px;
  height: 72px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: _error("straw does not exist in getColor");
  box-shadow: none;
}
.cm-o-icon-button-enormous--deco span:not(.cm-o-notification-bubble) {
  font-size: 48px;
}
.cm-o-icon-button-enormous--deco span {
  color: _error("scarpaFlow does not exist in getColor");
}

.cm-o-notification-bubble {
  background-color: #434656;
  border: 1px solid #FFFFFF;
  border-radius: 99px;
  color: #FFFFFF !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  height: 24px;
  padding: 0 4px;
  position: absolute;
  top: 0;
  right: -4px;
}

.bi-o-overlay, .bi-c-overlay--notifications, .bi-c-overlay--activeUser {
  border: 1px solid #CECECE;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  width: 150px;
}
.bi-o-overlay__option {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px 12px;
}
.bi-o-overlay__option:hover {
  text-decoration: none;
  background-color: rgba(67, 70, 86, 0.05);
}
.bi-o-overlay__option .option--text {
  color: _error("scarpaFlow does not exist in getColor");
  flex-grow: 1;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-o-overlay__option .option--icon {
  text-decoration: none;
  flex-grow: 0;
}
.bi-o-overlay__notification {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  padding: 8px 12px;
}
.bi-o-overlay__notification:hover {
  text-decoration: none;
  background-color: rgba(67, 70, 86, 0.05);
}
.bi-o-overlay__notification .notification--text {
  color: _error("scarpaFlow does not exist in getColor");
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-o-overlay__notification .notification--date {
  color: _error("scarpaFlow does not exist in getColor");
}
.bi-o-overlay__notification:nth-child(even) {
  background-color: _error("scarpaFlowLight does not exist in getColor");
}
.bi-o-overlay__notification:nth-child(even):hover {
  text-decoration: none;
  background-color: rgba(67, 70, 86, 0.05);
}

.bi-o-logo, .bi-o-logo--centered {
  color: #434656;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 24px;
  line-height: 2.4rem;
}
.bi-o-logo:hover, .bi-o-logo--centered:hover {
  text-decoration: none;
}
.bi-o-logo .icon, .bi-o-logo--centered .icon {
  height: 48px;
  width: 48px;
}

.bi-o-logo--centered {
  justify-content: center;
}

.bi-o-sortButton {
  border: 0;
  background: transparent;
  color: #434656;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  min-height: 24px;
}
.bi-o-sortButton span {
  display: flex;
}
.bi-o-sortButton svg {
  width: 16px;
  height: 16px;
}

.cm-o-icon-roundel-small--primary {
  border: 0;
  border-radius: 99px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px _error("scarpaFlowLight does not exist in getColor") inset;
}
.cm-o-icon-roundel-small--primary span {
  font-size: 16px;
}
.cm-o-icon-roundel-small--primary span {
  color: _error("scarpaFlow does not exist in getColor");
}
.cm-o-icon-roundel-small--primary:is(a, a:hover) {
  color: _error("scarpaFlow does not exist in getColor");
  text-decoration: none;
}
.cm-o-icon-roundel-small--primary:hover {
  background-color: rgba(67, 70, 86, 0.05);
}
.cm-o-icon-roundel-small--secondary {
  border: 0;
  border-radius: 99px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: _error("scarpaFlowLight does not exist in getColor");
  box-shadow: none;
}
.cm-o-icon-roundel-small--secondary span {
  font-size: 16px;
}
.cm-o-icon-roundel-small--secondary span {
  color: _error("scarpaFlow does not exist in getColor");
}
.cm-o-icon-roundel-small--success {
  border: 0;
  border-radius: 99px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #0FCC81;
  box-shadow: none;
}
.cm-o-icon-roundel-small--success span {
  font-size: 16px;
}
.cm-o-icon-roundel-small--success span {
  color: _error("scarpaFlow does not exist in getColor");
}
.cm-o-icon-roundel-small--danger {
  border: 0;
  border-radius: 99px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #F93A3A;
  box-shadow: none;
}
.cm-o-icon-roundel-small--danger span {
  font-size: 16px;
}
.cm-o-icon-roundel-small--danger span {
  color: #FFFFFF;
}
.cm-o-icon-roundel-small--warning {
  border: 0;
  border-radius: 99px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #FECD39;
  box-shadow: none;
}
.cm-o-icon-roundel-small--warning span {
  font-size: 16px;
}
.cm-o-icon-roundel-small--warning span {
  color: _error("scarpaFlow does not exist in getColor");
}

.bi-o-inlineIcon--big {
  height: 16px;
  width: 16px;
}

.bi-o-header-sub-section {
  background-color: #F4F4F4;
  border-radius: 8px;
  color: #0081FF;
  padding: 12px 24px;
  margin: 16px 0;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Components **/
.bi-c-navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 24px;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .bi-c-navbar {
    padding: 0 32px;
  }
}
.bi-c-navbar__left, .bi-c-navbar__right, .bi-c-navbar__center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 24px;
}
.bi-c-navbar__left, .bi-c-navbar__right {
  flex-grow: 0;
}
.bi-c-navbar__center {
  flex-grow: 1;
}
.bi-c-navbar__navBtns {
  display: flex;
  gap: 8px;
}
.bi-c-navbar--secondary {
  gap: 0;
  overflow-x: scroll;
  white-space: nowrap;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 24px;
  line-height: 2.4rem;
}
.bi-c-navbar--secondary .bi-c-navbar__left {
  padding: 8px 0;
  border-right: 1px solid #CECECE;
  padding-right: 16px;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .bi-c-navbar--secondary {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .bi-c-navbar--secondary .bi-c-navbar__left {
    padding: 8px 0;
    border-right: 1px solid #CECECE;
    padding-right: 24px;
    margin-right: 24px;
  }
}

.bi-c-navbar-links-hrz {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 8px;
  height: 48px;
}
.bi-c-navbar-links-vert {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
.bi-c-navbar-links__textbutt {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px #CECECE inset;
  border-radius: 8px;
  color: #434656;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  line-height: 48px;
  padding: 0 12px;
}
.bi-c-navbar-links__textbutt:hover {
  text-decoration: none;
  background-color: #F4F4F4;
}
.bi-c-navbar-links__textbutt.active {
  background-color: #0081FF;
  box-shadow: 0px 0px 0px 0px;
  color: #FFFFFF;
}
.bi-c-navbar-links__textbutt .icon {
  height: 24px;
  width: 24px;
}

.bi-c-form-simple {
  display: flex;
}
.bi-c-form-simple label {
  color: #434656;
}
.bi-c-form-simple label.error {
  color: #F93A3A;
}
.bi-c-form-simple label.error input[type=text], .bi-c-form-simple label.error input[type=number], .bi-c-form-simple label.error input[type=email], .bi-c-form-simple label.error input[type=password], .bi-c-form-simple label.error input[type=date], .bi-c-form-simple label.error .cm-c-field-icon {
  border: 2px solid #F93A3A;
  color: #F93A3A !important;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-form-simple label.error input[type=text]::-moz-placeholder, .bi-c-form-simple label.error input[type=text] input::-moz-placeholder, .bi-c-form-simple label.error input[type=number]::-moz-placeholder, .bi-c-form-simple label.error input[type=number] input::-moz-placeholder, .bi-c-form-simple label.error input[type=email]::-moz-placeholder, .bi-c-form-simple label.error input[type=email] input::-moz-placeholder, .bi-c-form-simple label.error input[type=password]::-moz-placeholder, .bi-c-form-simple label.error input[type=password] input::-moz-placeholder, .bi-c-form-simple label.error input[type=date]::-moz-placeholder, .bi-c-form-simple label.error input[type=date] input::-moz-placeholder, .bi-c-form-simple label.error .cm-c-field-icon::-moz-placeholder, .bi-c-form-simple label.error .cm-c-field-icon input::-moz-placeholder {
  color: #F93A3A;
}
.bi-c-form-simple label.error input[type=text]::placeholder, .bi-c-form-simple label.error input[type=text] input::placeholder, .bi-c-form-simple label.error input[type=number]::placeholder, .bi-c-form-simple label.error input[type=number] input::placeholder, .bi-c-form-simple label.error input[type=email]::placeholder, .bi-c-form-simple label.error input[type=email] input::placeholder, .bi-c-form-simple label.error input[type=password]::placeholder, .bi-c-form-simple label.error input[type=password] input::placeholder, .bi-c-form-simple label.error input[type=date]::placeholder, .bi-c-form-simple label.error input[type=date] input::placeholder, .bi-c-form-simple label.error .cm-c-field-icon::placeholder, .bi-c-form-simple label.error .cm-c-field-icon input::placeholder {
  color: #F93A3A;
}
.bi-c-form-simple label.error input[type=text] input::-moz-placeholder, .bi-c-form-simple label.error input[type=number] input::-moz-placeholder, .bi-c-form-simple label.error input[type=email] input::-moz-placeholder, .bi-c-form-simple label.error input[type=password] input::-moz-placeholder, .bi-c-form-simple label.error input[type=date] input::-moz-placeholder, .bi-c-form-simple label.error .cm-c-field-icon input::-moz-placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-form-simple label.error input[type=text] input::placeholder, .bi-c-form-simple label.error input[type=number] input::placeholder, .bi-c-form-simple label.error input[type=email] input::placeholder, .bi-c-form-simple label.error input[type=password] input::placeholder, .bi-c-form-simple label.error input[type=date] input::placeholder, .bi-c-form-simple label.error .cm-c-field-icon input::placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-form-simple label.error .assistance {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-form-simple span {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-form-simple span.error {
  color: #F93A3A;
}
.bi-c-form-simple input[type=text], .bi-c-form-simple input[type=number], .bi-c-form-simple input[type=email], .bi-c-form-simple input[type=password], .bi-c-form-simple input[type=date] {
  border: 0;
  border-bottom: 1px solid #CECECE;
  border-radius: 0;
  height: 44px;
  text-align: right;
  text-indent: 12px;
  padding: 0;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-form-simple input[type=text]:focus, .bi-c-form-simple input[type=text]:focus-visible, .bi-c-form-simple input[type=text]:active, .bi-c-form-simple input[type=number]:focus, .bi-c-form-simple input[type=number]:focus-visible, .bi-c-form-simple input[type=number]:active, .bi-c-form-simple input[type=email]:focus, .bi-c-form-simple input[type=email]:focus-visible, .bi-c-form-simple input[type=email]:active, .bi-c-form-simple input[type=password]:focus, .bi-c-form-simple input[type=password]:focus-visible, .bi-c-form-simple input[type=password]:active, .bi-c-form-simple input[type=date]:focus, .bi-c-form-simple input[type=date]:focus-visible, .bi-c-form-simple input[type=date]:active {
  border-color: #0081FF;
  border-width: 2px;
  outline: none;
}
.bi-c-form-simple input[type=text]:invalid, .bi-c-form-simple input[type=text]:focus:invalid, .bi-c-form-simple input[type=number]:invalid, .bi-c-form-simple input[type=number]:focus:invalid, .bi-c-form-simple input[type=email]:invalid, .bi-c-form-simple input[type=email]:focus:invalid, .bi-c-form-simple input[type=password]:invalid, .bi-c-form-simple input[type=password]:focus:invalid, .bi-c-form-simple input[type=date]:invalid, .bi-c-form-simple input[type=date]:focus:invalid {
  border-color: #0081FF;
  border-width: 2px;
  outline: none;
}
.bi-c-form-simple input[type=text]:-internal-autofill-selected, .bi-c-form-simple input[type=number]:-internal-autofill-selected, .bi-c-form-simple input[type=email]:-internal-autofill-selected, .bi-c-form-simple input[type=password]:-internal-autofill-selected, .bi-c-form-simple input[type=date]:-internal-autofill-selected {
  background-color: #FFFFFF !important;
}
.bi-c-form-simple input[type=text]::-moz-placeholder, .bi-c-form-simple input[type=number]::-moz-placeholder, .bi-c-form-simple input[type=email]::-moz-placeholder, .bi-c-form-simple input[type=password]::-moz-placeholder, .bi-c-form-simple input[type=date]::-moz-placeholder {
  color: #CECECE;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-form-simple input[type=text]::placeholder, .bi-c-form-simple input[type=number]::placeholder, .bi-c-form-simple input[type=email]::placeholder, .bi-c-form-simple input[type=password]::placeholder, .bi-c-form-simple input[type=date]::placeholder {
  color: #CECECE;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-form-simple input[type=radio], .bi-c-form-simple input[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  border: 1px solid #CECECE;
  border-radius: 8px;
  height: 24px;
  width: 24px;
  display: grid;
  place-content: center;
}
.bi-c-form-simple input[type=radio]::before, .bi-c-form-simple input[type=checkbox]::before {
  content: "check";
  border-radius: 8px;
  box-shadow: inset 24px 24px #0FCC81;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}
.bi-c-form-simple input[type=radio]:checked::before, .bi-c-form-simple input[type=checkbox]:checked::before {
  color: #CECECE;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  transform: scale(1);
}
.bi-c-form-simple__radio-toggle {
  border: 1px solid #CECECE;
  background-color: #F4F4F4;
  border-radius: 8px;
  position: relative;
  height: 48px;
  width: 96px;
}
.bi-c-form-simple__radio-toggle input[type=checkbox] {
  border: 1px solid #CECECE;
  background-color: #FFFFFF;
  height: 48px;
  width: 48px;
  right: 0;
  position: absolute;
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
}
.bi-c-form-simple__radio-toggle input[type=checkbox]::before {
  right: 0;
  position: absolute;
  transform: scale(1);
  opacity: 0;
}
.bi-c-form-simple__radio-toggle input[type=checkbox]:checked::before {
  content: "";
  border-radius: 8px;
  box-shadow: inset 0 48px #0FCC81;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  opacity: 1;
}
.bi-c-form-simple__radio-toggle input[type=checkbox]:checked {
  transform: translateX(-48px);
  position: absolute;
}

.bi-c-uploadfield-icon {
  border: 1px solid #CECECE;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  height: 48px;
  display: flex;
  overflow: hidden;
  /*hides input file and restyles input */
  /* clears the ‘X’ from Internet Explorer */
  /* clears the ‘X’ from Chrome */
}
.bi-c-uploadfield-icon__input {
  border: 0;
  outline: none;
  text-indent: 12px;
  flex-grow: 1;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-uploadfield-icon__input:invalid, .bi-c-uploadfield-icon__input:focus:invalid {
  border-color: #0081FF;
  border-width: 2px;
  outline: none;
}
.bi-c-uploadfield-icon--focus {
  border-color: #0081FF;
  border-width: 2px;
  outline: none;
}
.bi-c-uploadfield-icon.error {
  border: 1px solid #F93A3A;
}
.bi-c-uploadfield-icon.error .cm-c-field-icon__input {
  color: #F93A3A;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-uploadfield-icon.error .cm-c-field-icon__input::-moz-placeholder {
  color: #F93A3A;
}
.bi-c-uploadfield-icon.error .cm-c-field-icon__input::placeholder {
  color: #F93A3A;
}
.bi-c-uploadfield-icon input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.bi-c-uploadfield-icon input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.bi-c-uploadfield-icon input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.bi-c-uploadfield-icon input[type=search]::-webkit-search-decoration,
.bi-c-uploadfield-icon input[type=search]::-webkit-search-cancel-button,
.bi-c-uploadfield-icon input[type=search]::-webkit-search-results-button,
.bi-c-uploadfield-icon input[type=search]::-webkit-search-results-decoration {
  display: none;
}
.bi-c-uploadfield-icon span.placeholder {
  color: #CECECE;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bi-c-select-icon {
  border: 1px solid #CECECE;
  border-radius: 8px;
  height: 48px;
  display: inline-flex;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  min-width: 150px;
}
.bi-c-select-icon__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: #434656;
  outline: none;
  padding: 0 12px;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-select-icon__select::-moz-placeholder {
  color: #CECECE;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-select-icon__select::placeholder {
  color: #CECECE;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-c-select-icon--focus {
  border-color: #0081FF;
  border-width: 2px;
  outline: none;
}
.bi-c-select-icon::after {
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  color: #434656;
  position: absolute;
  right: 8px;
  top: 12px;
  z-index: -1;
}

.bi-c-overlay--notifications, .bi-c-overlay--activeUser {
  background-color: #FFFFFF;
  position: absolute;
  z-index: 99;
  margin-top: 8px;
}
.bi-c-overlay--notifications {
  right: 0;
}
.bi-c-overlay--activeUser {
  right: 32px;
}

.cm-c-accordion__button {
  border-bottom: 1px solid #0FCC81;
  display: flex;
  align-items: center;
  height: 48px;
  color: _error("scarpaFlow does not exist in getColor");
  margin-bottom: 24px;
}
.cm-c-accordion__button.active {
  color: #0FCC81;
}
.cm-c-accordion__button .accordion-button__text {
  flex-grow: 1;
}
.cm-c-accordion__button .accordion-button__icon {
  height: 24px;
}
.cm-c-accordion__panel {
  margin-bottom: 24px;
}

.bi-c-modal {
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
  z-index: 100;
}
.bi-c-modal-background {
  background-color: rgba(67, 70, 86, 0.85);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}
.bi-c-modal__smallContent {
  background-color: #FFFFFF;
  border: 2px solid #CECECE;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 24px;
  position: relative;
  top: 40%;
  width: 352px;
}
.bi-c-modal__smallContent .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bi-c-modal__bigContent {
  background-color: #FFFFFF;
  border: 2px solid #CECECE;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 24px;
  position: relative;
  top: 15%;
  width: 928px;
}
.bi-c-modal__bigContent .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bi-c-mathBlock {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 0;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 24px;
  line-height: 2.4rem;
}
.bi-c-mathBlock__base {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.bi-c-mathBlock .math-fraction {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bi-c-mathBlock .math-fraction__divider {
  border-top: 1px solid #434656;
  height: 1px;
  width: 100%;
}

/** Utilities **/
.bi-u-spacer-mt-base {
  margin-top: 2px;
}
.bi-u-spacer-mt-tiny {
  margin-top: 4px;
}
.bi-u-spacer-mt-small {
  margin-top: 8px;
}
.bi-u-spacer-mt-medium {
  margin-top: 12px;
}
.bi-u-spacer-mt-big {
  margin-top: 16px;
}
.bi-u-spacer-mt-bigger {
  margin-top: 24px;
}
.bi-u-spacer-mt-large {
  margin-top: 32px;
}
.bi-u-spacer-mt-huge {
  margin-top: 48px;
}
.bi-u-spacer-mt-enormous {
  margin-top: 72px;
}
.bi-u-spacer-mt-gigantic {
  margin-top: 144px;
}
.bi-u-spacer-mb-base {
  margin-bottom: 2px;
}
.bi-u-spacer-mb-tiny {
  margin-bottom: 4px;
}
.bi-u-spacer-mb-small {
  margin-bottom: 8px;
}
.bi-u-spacer-mb-medium {
  margin-bottom: 12px;
}
.bi-u-spacer-mb-big {
  margin-bottom: 16px;
}
.bi-u-spacer-mb-bigger {
  margin-bottom: 24px;
}
.bi-u-spacer-mb-large {
  margin-bottom: 32px;
}
.bi-u-spacer-mb-huge {
  margin-bottom: 48px;
}
.bi-u-spacer-mb-enormous {
  margin-bottom: 72px;
}
.bi-u-spacer-mb-gigantic {
  margin-bottom: 144px;
}
.bi-u-spacer-m-auto {
  margin: auto;
}
.bi-u-spacer-mlr-auto {
  margin: 0 auto;
}
.bi-u-spacer-pt-bigger {
  padding-top: 24px;
}
.bi-u-spacer-pt-large {
  padding-top: 32px;
}
.bi-u-spacer-pt-huge {
  padding-top: 48px;
}
.bi-u-spacer-pt-enormous {
  padding-top: 72px;
}
.bi-u-spacer-pb-bigger {
  padding-bottom: 24px;
}
.bi-u-spacer-pb-large {
  padding-bottom: 32px;
}
.bi-u-spacer-pb-huge {
  padding-bottom: 48px;
}
.bi-u-spacer-pb-enormous {
  padding-bottom: 72px;
}

.bi-u-h-screen {
  height: 100vh;
}

.bi-u-h-screen--wSubNav {
  height: calc(100vh - 130px);
  margin-top: 130px;
}
@media screen and (min-width: 768px) {
  .bi-u-h-screen--wSubNav {
    height: calc(100vh - 170px);
    margin-top: 170px;
  }
}

.bi-u-centerText {
  text-align: center;
  justify-content: center;
}

.bi-u-centerAbs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-u-textRight {
  text-align: right;
  justify-content: end;
}

.cm-u-stretchContent {
  display: flex;
  flex-direction: column;
}

.cm-u-centerVer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.bi-u-inactive {
  display: none !important;
}

.bi-u-stuckLeft {
  margin-left: 32px;
}

.bi-u-stuck {
  margin-right: 32px;
}

.bi-u-border-bt-gm {
  border-top: 1px solid #CECECE;
}
.bi-u-border-bb-gm {
  border-bottom: 1px solid #CECECE;
}

.bi-u-noRotate {
  transform: rotate(0deg);
  transition: transform 0.25s;
}

.bi-u-rotateRight {
  transform: rotate(90deg);
  transition: transform 0.25s;
}/*# sourceMappingURL=styles.css.map */